{
  "extends": "airbnb",
  "rules": {
    "quotes": ["error","double"],
    "no-tabs": "off",
    "comma-dangle":"off",
    "react/prop-types": "off",
    "generator-star-spacing": "off",
    "import/prefer-default-export": "off",
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off",
    "func-names": "off"
  }
}
